<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tk.simpleui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diyimg.DIYImageViewActivity" />
        <activity android:name=".scratch.ScratchActivity" />
        <activity android:name=".flow.FlowActivity" />
        <activity android:name=".load.LoadActivity" />
        <activity android:name=".bubble.BubbleActivity" />
        <activity android:name=".pulldetail.PullDetailActivity" />
        <activity android:name=".drag.DragActivity" />
        <activity android:name=".ripple.RippleActivity" />
        <activity android:name=".flod.FlodActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".recyclerview.pull.normal.PullNormalActivity" />
        <activity android:name=".recyclerview.pull.elegance.PullEleganceActivity" />
        <activity android:name=".recyclerview.pull.magic.PullMagicActivity" />
        <activity android:name=".recyclerview.Item.ItemDecorationActivity" />
        <activity android:name=".recyclerview.layout.LayoutActivity" />
        <activity android:name=".recyclerview.anim.AnimActivity" />
        <activity android:name=".recyclerview.touch.TouchActivity" />
        <activity android:name=".ratingbar.RatingBarActivity" />
        <activity android:name=".line.InterestingLineActivity" />
        <activity android:name=".keepchange.KeepChangeActivity" />
        <activity android:name=".statusbar.StatusBarActivity" />
        <activity
            android:name=".statusbar.normal.SolidActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".statusbar.normal.TranslucentActivity" />
        <activity android:name=".statusbar.more.one.OneActivity" />
        <activity android:name=".statusbar.more.two.TwoActivity" />
        <activity android:name=".ripple.reveal.RevealActivity" />
    </application>

</manifest>