<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tk.simpleui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diyimg.DIYImageViewActivity" />
        <activity android:name=".scratch.ScratchActivity" />
        <activity android:name=".flow.FlowActivity" />
        <activity android:name=".load.LoadActivity" />
        <activity android:name=".bubble.BubbleActivity" />
        <activity android:name=".pulldetail.PullDetailActivity" />
        <activity android:name=".drag.DragActivity" />
        <activity android:name=".ripple.RippleActivity" />
        <activity android:name=".flod.FlodActivity" />

        <activity android:name=".ratingbar.RatingBarActivity" />
        <activity android:name=".line.InterestingLineActivity" />
        <activity android:name=".shopcar.ShopCarActivity" />
        <activity android:name=".statusbar.StatusBarActivity" />
        <activity
            android:name=".statusbar.normal.SolidActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".statusbar.normal.TranslucentActivity" />
        <activity android:name=".statusbar.more.fragment.FragmentActivity" />
        <activity android:name=".statusbar.more.drawerlayout.DrawerOneActivity" />
        <activity android:name=".statusbar.more.drawerlayout.DrawerTwoActivity" />
        <activity android:name=".ripple.reveal.RevealActivity" />
        <activity android:name=".expandtext.ExpandTextActivity" />
        <activity android:name=".expandtext.SampleActivity" />
        <activity android:name=".expandtext.list.ListActivity" />
        <activity android:name=".gesturelock.OpenLockActivity" />
        <activity android:name=".gesturelock.SetLockActivity" />
        <activity android:name=".indicator.IndicatorActivity"/>
        <activity android:name=".triangledialog.TriangleDialogActivity"/>
    </application>

</manifest>